{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Clientes <small>cadastrados</small></h1>
    </div>
    <div class="list-group">
        {% for customer in view.customers %}
            <a href="{{ url_for('customers.upd_customer', customer_id=customer._id) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ customer.name }}</h4>
                <p class="list-group-text">CPF: <strong>{{ customer.doc_id }}</strong><br />
                    E-mail: <strong>{{ customer.email }}</strong></p>
                <a class="btn btn-primary"
                   href="{{ url_for('vehicles.index', customer_id=customer._id) }}"> Automóveis
                    <span class="badge badge-light">{{ customer.number_of_vehicles }}</span></a>
                <a class="btn btn-success"
                   href="{{ url_for('schedules.new_schedule_with_doc_id', doc_id=customer.doc_id) }}">
                    Agendar Atendimento</a>
                <p></p>
            </a>
        {% endfor %}
    </div>
    <a class="btn btn-success" href="{{ url_for('customers.new_customer') }}">
        <span class="glyphicon glyphicon-plus"></span> Novo cliente</a>
{% endblock %}